.pn-addStudent{
    width: 40%;
    position: fixed
}
.frmStudent{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.frmStudent:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.pnl-addStudent{
    background:#FFED86;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card-Student{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}