table {
    max-width:800px; 
    width:100%;
    border-radius:6px;
}

thead tr        { 
    height:60px;
    background:#FFED86;
    font-size:16px;
  }
  
.center-table th {
        text-align: center;
        vertical-align: middle;
    }
   
.center-table tr {
      height:48px; 
      border-bottom:1px solid #E3F1D5;
    }

.center-table td {
        text-align: center;
        vertical-align: middle;
    }

.center-table:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.modal-card-foot{
    justify-content: flex-end;
}