<div class="section"></div>
<div class="columns is-mobile is-centered">
  <div class="panel pn-addStudent frmStudent">
      <div class="panel-heading has-text-centered has-text-weight-bold pnl-addStudent">
          Crear Estudiante
      </div>
      <div class="panel-block">
          <form class="control" #addStudent="ngForm" (ngSubmit)="onSubmit()" novalidate="">
              <div class="columns is-mobile">
                  <div class="column is-4 is-offset-2">
                      <div class="field">   
                          <label class="label has-text-grey-light" data-error="wrong" data-success="right">Nombre</label>
                          <div class="control has-icon">
                            <input class="input is-info" type="text" placeholder="Nombre"
                                    [(ngModel)]="alumno.nombre"
                                    name="nombre"
                                    #nombre="ngModel"
                                    required>
                            <span class="icon is-small">
                                <i class="fa fa-user"></i>
                            </span>
                          </div>
                          <p class="help is-danger" *ngIf="nombre.errors && nombre.touched">El nombre es Requerido!.</p>
                     </div>
                  </div>

                  <div class="column is-4">
                      <div class="field">
                          <label class="label has-text-grey-light">Apellido</label>
                          <div class="control has-icon">
                            <input class="input is-info" type="text" placeholder="Apellido"
                                    [(ngModel)]="alumno.apellido"
                                    name="apellido"
                                    #apellido="ngModel"
                                    required>
                            <span class="icon is-small">
                                <i class="fa fa-user"></i>
                            </span>
                          </div>
                          <p class="help is-danger" *ngIf="apellido.errors && apellido.touched">Apellido Obligatorio!.</p>
                        </div>
                  </div>
                </div>

                <div class="columns is-mobile">
                    <div class="column is-4 is-offset-2">
                        <div class="field">
                            <label class="label has-text-grey-light">Email</label>
                            <div class="control has-icon">
                              <input class="input is-info" type="email" placeholder="Email"
                                     [(ngModel)]="alumno.email"
                                     name="email"
                                     #email="ngModel"
                                     pattern="{{patternEmail}}"
                                     required>
                              <span class="icon is-small">
                                  <i class="fa fa-envelope"></i>
                              </span>
                            </div>
                            <p class="help is-danger" *ngIf="email.errors?.required && email.touched">Email Obligatorio!.</p>
                            <p class="help is-danger" *ngIf="email.errors?.pattern">El campo no tiene formato de correo</p>
                          </div>
                    </div>
                    <div class="column is-4">
                        <div class="field">
                            <label class="label has-text-grey-light">Password</label>
                            <div class="control has-icon">
                              <input class="input is-info" type="password" placeholder="Password"
                                     [(ngModel)]="alumno.password"
                                     name="password"
                                     #password="ngModel"
                                     required>
                              <span class="icon is-small">
                                  <i class="fa fa-lock"></i>
                              </span>
                            </div>
                            <p class="help is-danger" *ngIf="password.errors && password.touched">Password Obligatorio!.</p>
                          </div>
                    </div>
                </div>

                <div class="columns is-mobile">
                    <div class="column is-4 is-offset-4">
                        <div class="field">
                            <div class="control has-icons-left">
                              <div class="select is-info">
                                  <select [(ngModel)]="alumno.facultad" name="alumno.facultad"
                                            #facultad="ngModel"
                                            required>
                                  <option value="" disabled selected>Seleccione Facultad</option>
                                  <option *ngFor="let item of facultades" [value]="item._id">{{item.nombre}}</option>
                                </select>
                              </div>
                              <div class="icon is-small is-left">
                                  <i class="fas fa-university"></i>
                              </div>
                            </div>
                        </div>          
                    </div>
                </div>   

                  <div class="control has-text-centered">
                      <button type="submit" class="button is-dark is-rounded" [disabled]="!addStudent.form.valid">
                            <span class="icon is-small">
                                    <i class="fas fa-check"></i>
                            </span>
                            <span>Aceptar</span>
                      </button>
                  </div>
          </form>
      </div>
    </div>
          <div class="notification is-success" *ngIf="messageEmail">
                <button class="delete" (click)="message_close()"></button>
                Loguearse con el email <strong>{{messageEmail}}</strong>
          </div>
</div>
